body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 2fr 0.5fr;
    grid-template-areas:
        "header header"
        "main-content main-content"
        "race store"
        "footer footer";
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    row-gap: 5px;
    column-gap: 5px;
}

nav ul {
    margin: 0;
    padding: 20px 0 0 0;
}

nav ul li {
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

#picture-and-title {
    display: flex;
    grid-area: headline;
}

#header-buttons {
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "headline buttons";
    grid-area: header;
}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

#main-flexbox {
    display: flex;
    grid-area: main-content;
}

#popsicle-race-section {
    display: flex;
    text-align: center;
    grid-area: race;
}

#te-popsicles-store {
    display: flex;
    text-align: center;
    grid-area: store;
}

footer {
    grid-area: footer;
}


#did-you-know-section {
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    grid-area: content;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
    grid-area: picture;
}

main li {
    list-style-type: none;
    grid-area: list;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.header-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    justify-content: flex-end;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main-content"
            "race"
            "store"
            "footer";
    }
    
    #header-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
            "headline"
            "buttons";
        grid-area: header;
}
    #header-buttons {
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}
    #main-flexbox {
        display: flex;
        flex-direction: column;
        grid-area: main-content;

    }
    main img {
        flex-basis: 30%;
        flex-grow: 1;
        object-fit: cover;
        margin-right: 20px;
        height: 350px;
        width: 100%;
        
    }

    #popsicle-race-section > img{
        flex-basis: 50%;
        width: 100%;
        height: 70%;
    }
    #popsicle-race-content > h2 {
        flex-basis: 50%;
        align-items: flex-start;
        justify-items: center;
    }
    #popsicle-race-content > p {
        align-items: baseline;
    }




}
